{
    "swagger": "2.0",
    "info": {
        "title": "Vacasa Connect",
        "version": "V1",
        "description": "
            Welcome to Vacasa Connect!  Connect is a RESTful JSON API interface for Vacasa services.\n\n

            ### _How can I use Connect?_\n
            You will need an HTTP client -- either a library or an application -- to interact with the API.  Consider [Paw](https://paw.cloud/] (for Mac)) (for Mac) or [Postman](https://www.getpostman.com/apps).\n\n

            ### _Having Trouble? Check your Content-Type header._\n
            All requests should include a Content-Type: application/vnd.api+json header.\n\n

            ### _How do I give feedback or get support?_\n
            Please speak to your supervisor or product representative.\n\n

            # JSON-API + OpenAPI\nThis API adheres to the [JSON-API 1.0 spec](http://jsonapi.org/format/).\n\n
            Our spec files conform to [OpenAPI 2.0/Swagger specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md).  There are many [libraries and clients](https://swagger.io/open-source-integrations/]) available for OpenAPI, which should ease your integration efforts.\n\n
            Some conventions are not covered in the JSON-API spec.  See sections below for further convention guides.\n\n

            # Authentication\nThe Connect API supports API token-based authentication.\n\n
            Two endpoints are available to assist in managing your authenticated sessions:\n\n
                - Create Authenticated Session\n
                - Refresh Authenticated Session\n\nTo begin using Connect, you will need an API Secret and API Key.  Speak to your product representative to obtain your secret and key.\n\n

            # Error Responses\nErrors follow JSON-API spec: [http://jsonapi.org/format/#errors](http://jsonapi.org/format/#errors)\n\n
            Validation errors can be found in the error response JSON body `meta` node. \n\n

            # Filtering\n
            Filtering follows recommendation defined at [http://jsonapi.org/recommendations/#filtering](http://jsonapi.org/recommendations/#filtering).\n\n

            # Localization\n
                ## Requests\n
                Localization HTTP headers **MAY** be sent with each request to define the preferred language and country, timezone, or currency of response data.\n\n
                The request **MAY** be honored.  If the content cannot be delivered as requested in the localization headers, an error response is returned.\n\n
                See Localization Trait for request header definitions.\n\n

                ## Responses\n
                Response content localization is expressed in the following HTTP headers:\n\n
                    - `Content-Language`\n
                    - `X-Timezone`\n\n
                Format will follow the same supported format as for the corresponding request headers.\n\n

            # Pagination\nPagination follows specification defined at [http://jsonapi.org/format/#fetching-pagination](http://jsonapi.org/format/#fetching-pagination)\n\n
            For example\n`?page[number]=1&page[size]=5` will result in returning page 1 with 5 results\n\n

            # Sorting\n
            Sorting follows this recommendation: [http://jsonapi.org/format/#fetching-sorting](http://jsonapi.org/format/#fetching-sorting)\n\n
            For example `?sort=col1,-col2` will sort results first by `col1` (ascending) then `col2` (descending).\n\n

            # Sparse Fieldsets\n
            Sparse fieldsets are supported on non-authentication endpoints.  [http://jsonapi.org/format/#fetching-sparse-fieldsets](http://jsonapi.org/format/#fetching-sparse-fieldsets)\n\n
                ## Example\n`?fields[Reservation]=reservation_id,channel` will retrieve only the `reservation_id` and `channel` properties of `Reservation` resource objects.\n\n
                Sparse fieldsets may also be applied to included resource objects.\n\n
                Only top-level object resource attributes can be specified.
        "
    }
,
    "host": "connect.vacasa.com",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "Auth": {
            "type": "apiKey",
            "in": "header",
            "name": "Authorization"
        }
    },
    "paths": {
        "/v1/accounting-entity-units/{id}": {
    "get": {
        "operationId": "get-accounting-entity-unit-by-id",
        "summary": "Get Accounting Entity Unit by ID",
        "tags": [
            "Accounting Entity Units"
        ],
        "responses": {
            "200": {
                "description": "OK",
                "schema": {
                    "$ref": "#/definitions/accounting-entity-unit-single"
                }
            },
            "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }        },
        "security": [
                    {
                        "Auth": []
                    }
                ]    },
    "patch": {
        "operationId": "update-accounting-entity-unit-by-id",
        "summary": "Update Accounting Entity Unit",
        "tags": [
            "Accounting Entity Units"
        ],
        "parameters": [
            {
                "in": "body",
                "name": "body",
                "schema": {
                    "type": "object",
                    "required": ["data"],
                    "properties": {
                        "data": {
                            "type": "object",
                            "required": ["attributes", "type"],
                            "properties": {
                                "type": {
                                    "type": "string",
                                    "enum": ["accounting-entity-unit"]
                                },
                                "attributes": {
                                    "type": "object",
                                    "properties": {
                                        "accounting_entity_id": {
                                            "type": "integer",
                                            "description": "The related accounting entity id."
                                        },
                                        "created_by": {
                                            "type": "integer"
                                        },
                                        "currency_id": {
                                            "type": "integer",
                                            "description": "The related currency id."
                                        },
                                        "end_date": {
                                            "type": "string",
                                            "format": "date"
                                        },
                                        "notes": {
                                            "type": "string"
                                        },
                                        "start_date": {
                                            "type": "string",
                                            "format": "date"
                                        },
                                        "unit_id": {
                                            "type": "integer",
                                            "description": "The related unit id."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }        ],
        "responses": {
            "200": {
                "description": "OK",
                "schema": {
                    "$ref": "#/definitions/accounting-entity-unit-single"
                }
            },
            "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }
        },
        "security": [
                    {
                        "Auth": []
                    }
                ]    }
}
,
        "/v1/accounting-entity-units": {
    "get": {
        "operationId": "get-accounting-entity-unit-list",
        "summary": "Get Accounting Entity Units List",
        "tags": [
            "Accounting Entity Units"
        ],
        "parameters": [
            {
                "name": "filter[id]",
                "in": "query",
                "description": "Comma-delimited list of accounting entity unit IDs. May include a comma-seperated list.",
                "type": "string"
            },
            {
                "name": "filter[currency_code]",
                "in": "query",
                "description": "Filter results by currency code.",
                "type": "string"
            },
            {
                "name": "filter[currency_id]",
                "in": "query",
                "description": "Filter results by currency id. May include a comma-seperated list.",
                "type": "string"
            },
            {
                "name": "filter[end_date]",
                "in": "query",
                "description": "Filter results by end date.",
                "type": "string"
            },
            {
                "name": "filter[end_date_max]",
                "in": "query",
                "description": "Filter results by end date max.",
                "type": "string"
            },
            {
                "name": "filter[end_date_min]",
                "in": "query",
                "description": "Filter results by end date min.",
                "type": "string"
            },
            {
                "name": "filter[start_date]",
                "in": "query",
                "description": "Filter results by start date.",
                "type": "string"
            },
            {
                "name": "filter[id]",
                "in": "query",
                "description": "Filter results by id. May include a comma-seperated list.",
                "type": "integer"
            },
            {
                "name": "filter[start_date_max]",
                "in": "query",
                "description": "Filter results by start date max.",
                "type": "string"
            },
            {
                "name": "filter[start_date_min]",
                "in": "query",
                "description": "Filter results by start date min.",
                "type": "string"
            },
            {
                "name": "filter[unit_id]",
                "in": "query",
                "description": "Filter results by unit id. May include a comma-seperated list.",
                "type": "string"
            },
            {
                "$ref": "#/parameters/trait-pageable-page-number"
            },
            {
                "$ref": "#/parameters/trait-pageable-page-limit"
            },
            {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }        ],
        "responses": {
            "200": {
                "description": "OK",
                "schema": {
                    "$ref": "#/definitions/accounting-entity-unit-list"
                }
            },
            "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }        },
        "security": [
                    {
                        "Auth": []
                    }
                ]
    },
    "post": {
        "operationId": "create-accounting-entity-unit-list",
        "summary": "Create Accounting Entity Unit",
        "tags": [
            "Accounting Entity Units"
        ],
        "parameters": [
            {
                "in": "body",
                "name": "body",
                "schema": {
                    "type": "object",
                    "required": ["data"],
                    "properties": {
                        "data": {
                            "type": "object",
                            "required": ["attributes", "type"],
                            "properties": {
                                "type": {
                                    "type": "string",
                                    "enum": ["accounting-entity-unit"]
                                },
                                "attributes": {
                                    "type": "object",
                                    "required": [
                                        "accounting_entity_id",
                                        "currency_id",
                                        "unit_id"
                                    ],
                                    "properties": {
                                        "accounting_entity_id": {
                                            "type": "integer",
                                            "description": "The related accounting entity id."
                                        },
                                        "created_by": {
                                            "type": "integer"
                                        },
                                        "currency_id": {
                                            "type": "integer",
                                            "description": "The related currency id."
                                        },
                                        "end_date": {
                                            "type": "string",
                                            "format": "date"
                                        },
                                        "notes": {
                                            "type": "string"
                                        },
                                        "start_date": {
                                            "type": "string",
                                            "format": "date"
                                        },
                                        "unit_id": {
                                            "type": "integer",
                                            "description": "The related unit id."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }        ],
        "responses": {
            "200": {
                "description": "OK",
                "schema": {
                    "$ref": "#/definitions/accounting-entity-unit-single"
                }
            },
            "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }
        },
        "security": [
                    {
                        "Auth": []
                    }
                ]    }
}
,
        "/v1/acquisitions": {
    "get": {
        "operationId": "get-acquisitions-list",
        "summary": "Get Acquisitions List",
        "tags": [
            "Acquisitions"
        ],
        "parameters": [
            {
                "name": "filter[id]",
                "in": "query",
                "description": "Comma-delimited list of acquisition IDs",
                "type": "string"
            },
            {
                "name": "filter[name]",
                "in": "query",
                "description": "Returns acquisitions with a partial or full match for `name`.",
                "type": "string"
            },
            {
                "$ref": "#/parameters/trait-pageable-page-number"
            },
            {
                "$ref": "#/parameters/trait-pageable-page-limit"
            },
            {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }        ],
        "responses": {
            "200": {
                "description": "OK",
                "schema": {
                    "$ref": "#/definitions/acquisition-list"
                }
            },
            "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }        },
        "security": [
                    {
                        "Auth": []
                    }
                ]
    }
}
,
        "/v1/amenities-groups": {
            "get": {
                "operationId": "get-amenities-groups",
                "summary": "Get Amenities Groups List",
                "tags": [
                    "Amenities"
                ],
                "parameters": [
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Include related resources in the response.  Currently supports: `content`.",
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/trait-pageable-page-number"
                    },
                    {
                        "$ref": "#/parameters/trait-pageable-page-limit"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }                    
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/amenity-group-list"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }
                },
                "security": [
                    {
                        "Auth": []
                    }
                ]
            }
        },
        "/v1/amenities": {
            "get": {
                "operationId": "get-amenities-list",
                "summary": "Get Amenities List",
                "tags": [
                    "Amenities"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Options available are \"options\", \"categories\", \"content\"",
                        "type": "string"
                    },
                    {
                        "name": "filter[name]",
                        "in": "query",
                        "description": "Filter by amenity name.",
                        "type": "string"
                    },

                    {
                        "$ref": "#/parameters/trait-pageable-page-number"
                    },
                    {
                        "$ref": "#/parameters/trait-pageable-page-limit"
                    },
                    {
                        "in": "query",
                        "name": "filter[amenity_ids]",
                        "type": "string",
                        "description": "Filter by a comma-delimited list of amenity IDs."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/amenity-list"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }
                },
                "security": [
                    {
                        "Auth": []
                    }
                ]
            }
        },
        "/v1/amenity-events": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/amenity-event-list"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }                },
                "summary": "Get Amenity Events List",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    },
                    {
                        "in": "query",
                        "name": "filter[event_min]",
                        "type": "integer",
                        "description": "Fetch unit_events by an minimium amenity_event_id"
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "type": "string",
                        "description": "Include data about the amenity event.  A comma-delimited list.  Options are `amenity`, `amenity-category`, `amenity-group`, `amenity-option`, `amenity-property`, and `amenity-property-option`.",
                        "enum": [
                            "amenity",
                            "amenity-category",
                            "amenity-group",
                            "amenity-option",
                            "amenity-property",
                            "amenity-property-option"
                        ]
                    }
                ],
                "tags": [
                    "Amenities"
                ],
                "security": [
                    {
                        "Auth": []
                    }
                ]
            }
        },
        "/v1/amenity-properties": {
                "get": {
                    "operationId": "get-amenity-properties-list",
                    "summary": "Get Amenity Properties List",
                    "tags": [
                        "Amenities"
                    ],
                    "parameters": [
                        {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    },
                        {
                            "$ref": "#/parameters/trait-pageable-page-number"
                        },
                        {
                            "$ref": "#/parameters/trait-pageable-page-limit"
                        },
                        {
                            "in": "query",
                            "name": "filter[amenity_id]",
                            "type": "string",
                            "description": "Filter by one or more comma-delimited amenity IDs."
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "OK",
                            "schema": {
                                "$ref": "#/definitions/amenity-property-list"
                            }
                        },
                        "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }
                    },
                    "security": [
                    {
                        "Auth": []
                    }
                ]
                }
            }
,
        "/auth/refresh": {
            "post": {
                "operationId": "refresh-auth-session",
                "summary": "Refresh Authenticated Session",
                "tags": [
                    "Authentication"
                ],
                "description": "Renew an existing auth session.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/auth-refresh",
                            "example": {
                                "data": {
                                    "refresh_token": "exercitation sit qui"
                                }
                            }
                        }
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/auth-single"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }                    
                },
                "security": [
                    {
                        "Auth": []
                    }
                ]
            }
        },
        "/auth": {
            "post": {
                "operationId": "create-auth-session",
                "summary": "Create Authenticated Session",
                "tags": [
                    "Authentication"
                ],
                "description": "Create a refreshable auth session.  Used the returned data to build your subsequent requests.\n\n### Signature generation:\n\nSignature is a HMAC-SHA256 hash of `api_key.timestamp.api_secret` (in hex)\n\n- **api_key**: your api key\n- **timestamp**: epoch timestamp(aka unix time), for example 1507584555\n- **api_secret**: your api secret\n\n### PHP Example:\n```\n$timestamp = time();\n$correct_signature = hash_hmac('sha256', $api_key.$timestamp.$api_secret, $api_secret);\n```",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AuthLogin",
                            "example": {
                                "data": {
                                    "api_key": "ul",
                                    "timestamp": 34534039,
                                    "signature": "laboris reprehenderit sed"
                                }
                            }
                        }
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/auth-single"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }                    
                }
            }
        },
        "/v1/availability": {
            "get": {
                "operationId": "get-availability-list",
                "summary": "Get Availability List",
                "description": "
                    Fetches a list of availability data.\n

                    **NOTE:** This endpoint maintains a rolling 30-day window of eligibility unless date filters are explicitly set otherwise.

                ",
                "tags": [
                    "Availability"
                ],
                "parameters": [
                    {
                        "name": "filter[updated_at_min]",
                        "in": "query",
                        "description": "Retrieve availability where the last updated time is greater than the given value.",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "filter[unit_id]",
                        "in": "query",
                        "description": "Filters results by provided unit id.",
                        "type": "integer"
                    },
                    {
                        "name": "filter[date]",
                        "in": "query",
                        "description": "filters results for exact match of date attribute",
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "filter[date_min]",
                        "in": "query",
                        "description": "filters results for date attribute equal to or greater than date_min. If not specified, it defaults to the current date.",
                        "type": "string",
                        "format": "date",
                        "default": "current date"
                    },
                    {
                        "name": "filter[date_max]",
                        "in": "query",
                        "description": "filters results by date attribute equal to or less than date_max. If not specified, it defaults to 30 days from the current date.",
                        "type": "string",
                        "format": "date",
                        "default": "30 days from current date"
                    },
                    {
                        "type": "string",
                        "description": "This header is deprecated. Please discontinue use of this header.",
                        "enum": ["HIT"],
                        "name": "X-Monocache",
                        "required": false,
                        "in": "header"
                    },
                    {
                        "name": "filter[available]",
                        "in": "query",
                        "description": "True if the following conditions are met:\n1. There are no conflicting reservations\n2. There is a non-zero rate",
                        "type": "boolean"
                    },
                    {
                        "$ref": "#/parameters/trait-pageable-page-number"
                    },
                    {
                        "$ref": "#/parameters/trait-pageable-page-limit"
                    },
                    {
                        "$ref": "#/parameters/trait-sortable-sort"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }                    
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/availability-list"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }
                },
                "security": [
                    {
                        "Auth": []
                    }
                ]
            }
        }
,
        "/v1/blocklists/{id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/blocklist-single"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }
                ],
                "summary": "Get Blocklist by ID",
                "operationId": "get-blocklist-by-id",
                "tags": [
                    "Blocklists"
                ],
                "security": [
                    {
                        "Auth": []
                    }
                ]                
            }
        },
        "/v1/blocklists": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/blocklist-list"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/trait-pageable-page-number"
                    },
                    {
                        "$ref": "#/parameters/trait-pageable-page-limit"
                    },
                    {
                        "$ref": "#/parameters/trait-sortable-sort"
                    },
                    {
                        "in": "query",
                        "name": "filter[blocklist_id]",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "filter[reservation_id]",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "filter[id_min]",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "filter[created_at_min]",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "filter[created_at_max]",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "filter[updated_at_min]",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "filter[email]",
                        "type": "string",
                        "format": "email"
                    },
                    {
                        "in": "query",
                        "name": "filter[active]",
                        "type": "boolean",
                        "description": "Valid values are 1 and 0."
                    },
                    {
                        "in": "query",
                        "name": "filter[is_blocked_or_warned]",
                        "type": "boolean",
                        "description": "Valid values are 1 and 0."
                    },
                    {
                        "in": "query",
                        "name": "filter[phone]",
                        "type": "string",
                        "description": "Returns blocked users with a partial or full  match for `phone`. Valid values are digits 0-9, non-digit characters are not allowed. Full matches for `phone` are very explicit. For example, if there is no country code provided in the input, the results may include records with country codes e.g. `filter[phone]= 5031231234` will match `+1 (503) 123-1234`, `1-503-123-1234`, `15031231234` and `5031231234`. Likewise, filter input of a full phone number including a country code will only return records of an exact match. i.e. `filter[phone]=15031231234` will only match `+1 (503) 123-1234`, `1-503-123-1234`, and `15031231234`, but not `5031231234`. Partial matches are found in a sequential manner, i.e. `503123` will match `503-123-1234`, but not `503-456-1234`"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }
                ],
                "summary": "Get Blocklist List",
                "tags": [
                    "Blocklists"
                ],
                "operationId": "get-blocklist-list",
                "security": [
                    {
                        "Auth": []
                    }
                ]                
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/blocklist-single"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }
                },
                "operationId": "post-blocklists",
                "summary": "Create Blocklist",
                "tags": [
                    "Blocklists"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "required": [ "attributes", "type" ],
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "enum": ["blocklists"]
                                        },
                                        "attributes": {
                                            "type": "object",
                                            "required": [
                                                "reservation_id",
                                                "first_name",
                                                "last_name",
                                                "email",
                                                "phone",
                                                "block",
                                                "warn"
                                            ],
                                            "properties": {
                                                "reservation_id": {
                                                    "type": "integer"
                                                },
                                                "first_name": {
                                                    "type": "string"
                                                },
                                                "last_name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                },
                                                "reason": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "block": {
                                                    "type": "integer"
                                                },
                                                "warn": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "required": [
                                "data"
                            ]
                        }
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }
                ],
                "security": [
                    {
                        "Auth": []
                    }
                ]
            }
        }
,
        "/v1/cities": {
            "get": {
                "operationId": "get-city-list",
                "summary": "Get cities List",
                "tags": [ "Locations" ],
                "parameters": [
                    {
                        "$ref": "#/parameters/trait-pageable-page-number"
                    },
                    {
                        "$ref": "#/parameters/trait-pageable-page-limit"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }                    
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/city-list"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }
                },
                "security": [
                    {
                        "Auth": []
                    }
                ]
            }
        }
,
        "/v1/codes": {
    "get": {
        "operationId": "get-codes-list",
        "summary": "Get Codes List",
        "tags": [
            "Codes"
        ],
        "parameters": [
            {
                "name": "filter[id]",
                "in": "query",
                "description": "",
                "type": "integer"
            },
            {
                "name": "filter[code_type_id]",
                "in": "query",
                "description": "",
                "type": "integer"
            },
            {
                "name": "filter[code]",
                "in": "query",
                "description": "",
                "type": "string"
            },
            {
                "$ref": "#/parameters/trait-pageable-page-number"
            },
            {
                "$ref": "#/parameters/trait-pageable-page-limit"
            },
            {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }        ],
        "responses": {
            "200": {
                "description": "OK",
                "schema": {
                    "$ref": "#/definitions/code-list"
                }
            },
            "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }        },
        "security": [
                    {
                        "Auth": []
                    }
                ]
    }
}
,
        "/v1/code-types": {
    "get": {
        "operationId": "get-code-types-list",
        "summary": "Get CodeTypes List",
        "tags": [
            "Codes"
        ],
        "parameters": [
            {
                "name": "filter[code_type]",
                "in": "query",
                "description": "",
                "type": "string"
            },
            {
                "name": "filter[id]",
                "in": "query",
                "description": "",
                "type": "integer"
            },
            {
                "$ref": "#/parameters/trait-pageable-page-number"
            },
            {
                "$ref": "#/parameters/trait-pageable-page-limit"
            },
            {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }        ],
        "responses": {
            "200": {
                "description": "OK",
                "schema": {
                    "$ref": "#/definitions/code-type-list"
                }
            },
            "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }        },
        "security": [
                    {
                        "Auth": []
                    }
                ]
    }
}
,
        "/v1/contacts": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/contact-list"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }                    
                },
                "description": "Retrieve a list of contacts.",
                "tags": [
                    "Contacts"
                ],
                "summary": "Get Contacts List",
                "parameters": [
                    {
                        "in": "query",
                        "name": "filter[email]",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "filter[contact_id]",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "filter[user_id]",
                        "type": "integer",
                        "description": "Filters contacts by `ContactID` associated with user matching `UserID` in `vacasa.logins` database table"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }
                ],
                "security": [
                    {
                        "Auth": []
                    }
                ]
            },
            "post": {
                "summary": "Create a Contact",
                "description": "Creates a Contact and also creates a Login if one doesn't exist.",
                "tags": [
                    "Contacts"
                ],
                "parameters": [
                {
                    "name": "contact",
                    "in": "body",
                    "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "enum": ["contacts"]
                                        },
                                        "attributes": {
                                            "type": "object",
                                            "properties": {
                                                "address_1": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "address_2": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "maxLength": 50
                                                },
                                                "country_code": {
                                                    "type": "string",
                                                    "maxLength": 2
                                                },
                                                "created_by": {
                                                    "type": "integer",
                                                    "description": "A valid Login ID."
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email",
                                                    "maxLength": 100
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "maxLength": 50
                                                },
                                                "language_id": {
                                                    "type": "integer",
                                                    "description": "A language_id for a valid language.  Foreign key to table languages."
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "maxLength": 50
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "maxLength": 100,
                                                    "pattern": "^[0-9 .\\-()]+$"
                                                },
                                                "phone_notes": {
                                                    "type": "string",
                                                    "description": "Corresponds to “Phone Notes” on Contact page in Admin, e.g., [https://www.vacasa.com/admin/tools/rm/owners?ContactID=20557](https://www.vacasa.com/admin/tools/rm/owners?ContactID=20557)."
                                                },
                                                "send_email": {
                                                    "type": "boolean",
                                                    "default": false,
                                                    "description": "Passing `true` will cause an \"Owner Welcome\" email to be sent to the Contact's email address."
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "maxLength": 50
                                                },
                                                "tax_entity_name": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "zip": {
                                                    "type": "string",
                                                    "maxLength": 10
                                                }
                                            },
                                            "required": [
                                                "first_name",
                                                "email",
                                                "language_id"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "attributes",
                                        "type"
                                    ]
                                }
                            },
                            "required": [
                                "data"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                        "$ref": "#/definitions/contact"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }                }
            }
        },
        "/v1/contacts/{id}": {
            "get": {
                "operationId": "get-contact-by-id",
                "summary": "Get Contact by ID",
                "tags": [
                    "Contacts"
                ],
                "description": "Retrieve a single contact by its primary identifier.",
                "parameters": [
                    {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }                ],
                "responses": {
                    "200": {
                        "description": "Retrieve a single contact",
                        "schema": {
                            "$ref": "#/definitions/contact-single"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }                },
                "security": [
                    {
                        "Auth": []
                    }
                ]            },
            "patch": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/contact-single"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }
                },
                "summary": "Update a Contact",
                "description": "Updates an existing Contact.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "required": ["data"],
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "required": ["type", "attributes"],
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "enum": ["contacts"]
                                        },
                                        "attributes": {
                                            "type": "object",
                                            "properties": {
                                                "address_1": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "address_2": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "maxLength": 50
                                                },
                                                "country_code": {
                                                    "type": "string",
                                                    "maxLength": 2
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email",
                                                    "maxLength": 100,
                                                    "description": "A \"Vacasa Login Change\" email will be sent if this differs from the existing contact."
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "maxLength": 50
                                                },
                                                "language_id": {
                                                    "type": "integer",
                                                    "description": "A language_id for a valid language."
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "maxLength": 50
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "maxLength": 100,
                                                    "pattern": "^[0-9 .\\-()]+$"
                                                },
                                                "phone_notes": {
                                                    "type": "string"
                                                },
                                                "send_email": {
                                                    "type": "boolean",
                                                    "default": false,
                                                    "description": "Passing `true` will cause an \"Owner Welcome\" email to be sent to the Contact's email address."
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "maxLength": 50
                                                },
                                                "tax_entity_name": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "updated_by": {
                                                    "type": "integer",
                                                    "description": "A valid Login ID."
                                                },
                                                "zip": {
                                                    "type": "string",
                                                    "maxLength": 10
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }
                ],
                "tags": [
                    "Contacts"
                ],
                "security": [
                    {
                        "Auth": []
                    }
                ]
            }
        }
,
        "/v1/contacts/{id}/finances": {
    "patch": {
        "tags": ["Contacts"],
        "summary": "Update Contacts Finances",
        "description": "Updates the financial information for a given contact.",
        "responses": {
            "204": {
                "description": "No Content"
            },
            "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
                    }
        },
        "parameters": [
            {
                "name": "id",
                "in": "path",
                "required": true,
                "type": "integer"
            },
            {
                "in": "body",
                "name": "body",
                "schema": {
                    "type": "object",
                    "properties": {
                        "data": {
                            "type": "object",
                            "required": ["type", "attributes" ],
                            "properties": {
                                "type": {
                                    "type": "string",
                                    "enum": ["contacts"]
                                },
                                "attributes": {
                                    "type": "object",
                                    "properties": {
                                        "account_name": {
                                            "type": "string",
                                            "maxLength": 100
                                        },
                                        "account_number": {
                                            "type": "string",
                                            "maxLength": 25
                                        },
                                        "routing_number": {
                                            "type": "string",
                                            "maxLength": 20
                                        },
                                        "tax_id": {
                                            "type": "string",
                                            "pattern": "^[0-9-]*$",
                                            "maxLength": 11
                                        },
                                        "tax_entity_name": {
                                            "type": "string",
                                            "maxLength": 100
                                        },
                                        "tax_form_code_id": {
                                            "type": "integer"
                                        },
                                        "w9_id" : {
                                            "type": "integer"
                                        },
                                        "business_name" : {
                                            "type": "string"
                                        },
                                        "tax_classification_type" : {
                                            "type": "string"
                                        },
                                        "tax_classification" : {
                                            "type": "string"
                                        },
                                        "tax_classification_other" : {
                                            "type": "string"
                                        },
                                        "exempt_payee_code" : {
                                            "type": "string"
                                        },
                                        "exempt_fatca_code" : {
                                            "type": "string"
                                        },
                                        "account_numbers" : {
                                            "type": "string"
                                        },
                                        "ein" : {
                                            "type": "string"
                                        },
                                        "signature" : {
                                            "type": "string"
                                        },
                                        "sign_date" : {
                                            "type": "string",
                                            "format": "date"
                                        },
                                        "ip_address" : {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": [
                        "data"
                    ]
                }
            },
            {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }        ],
        "security": [
                    {
                        "Auth": []
                    }
                ]
    }
}
,
        "/v1/contracts": {
            "get": {
                "operationId": "get-contracts-list",
                "summary": "Get Contracts List",
                "tags": [
                    "Contracts"
                ],
                "description": "This endpoint requires an API key with Sensitive Data authorization permissions.",
                "parameters": [
                    {
                        "name": "filter[unit_id]",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "filter[active_only]",
                        "in": "query",
                        "description": "Return only active units.  True by default.",
                        "type": "boolean",
                        "default": true
                    },
                    {
                        "name": "filter[owner_id]",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "$ref": "#/parameters/trait-pageable-page-number"
                    },
                    {
                        "$ref": "#/parameters/trait-pageable-page-limit"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/trait-authorizationHeader"
                    },
                    {
                        "$ref": "#/parameters/trait-jsonApiContentTypeHeader-Content-Type"
                    },
                    {
                        "$ref": "#/parameters/trait-localizable-X-Accept-Timezone"
                    }                    
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/contract-list"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/validation-error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/standard-error"
                        }
[...]
